<td colspan="2">
  <% if filter.multi? -%>
    <%= radio_button_tag axis_name(axis, "filter", filter_id, "value"), "1", filter.value? %>True<br />
    <%= radio_button_tag axis_name(axis, "filter", filter_id, "value"), "0", filter.value == false %>False
  <% else -%>
    <%= check_box_tag axis_name(axis, "filter", filter_id, "value"), "1", filter.value? %> True?
  <% end -%>
</td>
