<td>
  <%= select_tag axis_name(axis, "filter", filter_id, "type"),
  options_for_select(filter.default_type_options, filter.selection)
  -%>
</td>
<td>
  <%= text_field_tag axis_name(axis, "filter", filter_id, "value"), filter.value -%>
</td>
