<td>
  <%= select_tag filter.attr_name("comparison"),
    options_for_select(filter.comparison_options, filter.comparison) %>
</td>
<td colspan="3">
  <% if filter.include_value? -%>
    <%= text_field_tag(filter.attr_name("value"), filter.rendered_value) %>
  <% end -%>
  &nbsp;
</td>
