<td>Between</td>
<td>
  <%= hidden_field_tag filter.attr_name("here"), "1" %>
  <%= text_field_tag filter.attr_name("start"), filter.start %>
</td>
<td>and</td>
<td><%= text_field_tag filter.attr_name("end"), filter.end %></td>
